body {
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 302px;
    background-color: #343434;
}


label {
    color: #5f9341;
    font-weight: 900;
    text-decoration: underline;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    transition: 0.2s;
}

#delete-btn {
    background: white;
    color: #5f9341;
}

button:hover {
    transform: scale(1.02);
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
    font-weight: 600;
    text-decoration: none;
}

.leadscontainer {
    padding: 8px;
    margin: 10px auto;

    border: 1px solid white;
    border-radius: 15px;

    text-align: center;

    background-color: whitesmoke;
    box-shadow: 2px 5px 0px black;
}


